version: '3.8'

networks:
  default:
    driver: bridge

services:
  app:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    container_name: wtc-backend-app
    networks:
      - default
    environment:
      - NODE_ENV=${NODE_ENV}
    ports:
      - 3000:3000
    depends_on:
      - database
    links:
      - database

  database:
    image: mongo
    container_name: wtc-backend-database
    networks:
      - default
    ports:
      - 27017:27017
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=user
      - MONGO_INITDB_ROOT_PASSWORD=pass123
      - MONGO_INITDB_DATABASE=lider

  database-seed:
    build:
      context: .
      dockerfile: ./docker/database-seed/Dockerfile
    container_name: wtc-backend-database-seed
    networks:
      - default
    links:
      - database
